ion-toolbar {
    // --background: #0c2f6c !important;
    --background: #028490 !important;
    margin-bottom: -8px;
}

p {
    padding: 11px;
}

.btn-primary {
    margin: 0 auto;
    display: block;
    background: #028490;
    color: white;
    border: none;
    border-radius: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 11px;
}

ion-toggle {
    margin: 0 auto;
    display: block;
}

ion-card {
    // width: 143px;
    // height: 143px;
    padding: 15px !important;
    background: #F8F8F8;
}

ion-fab-button {
    --background: #028490;
}

ion-title {
    text-align: center;
    font-weight: bold;
    color: white;
}

ion-menu-button {
    color: white;
}

ion-button {
    margin-left: 20px;
    margin-right: 20px;
    --background: #028490;
    margin-top: 20px;
}

.toolbar-background {
    --border-width: 0px !important;
    border: 0 !important;
}

.toolbar-container {
    --padding-top: 0px !important;
    --padding-left: 0px !important;
    --padding-right: 0px !important;
    --padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.ToolbarVerde {
    --padding-top: 0px !important;
    --padding-left: 0px !important;
    --padding-right: 0px !important;
    --padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

img {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

h5 {
    // text-transform: lowercase;
    // font-size: 16px;
    text-align: center;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 18px;
    font-weight: bold;
}

.instiutenamerow {
    // padding: 15px;
    color: white;
    // background: #0c2f6c;
    padding: 10px;
}

p {
    text-align: center;
    margin-bottom: 13px;
}

svg {
    margin: 0 auto;
    display: block;
}

.addnew {
    float: right;
    background: white;
    color: #028490;
    border: 1px solid #028490;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
}

.viewmore {
    margin: 0 auto;
    display: block;
    background: #f8f8f8;
    border: 2px solid #028490;
    padding: 6px;
    border-radius: 6px;
}