<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <button routerLink="/navigaiondrawer">s</button> -->
            <!-- <IonMenuButton> </IonMenuButton> -->
            <!-- <ion-menu-button auto-hide="false"></ion-menu-button> -->

            <!-- <ion-icon name="arrow-back-sharp"></ion-icon> -->
            <ion-menu-button auto-hide="false" style="    color: #028490;"></ion-menu-button>

        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button auto-hide="false" style="    color: #028490;"></ion-menu-button>
        </ion-buttons>

        <ion-title>NSPOT</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row style="    color: #0000007d;
      background: #f4f4f4;
      ">
        <ion-col size="12">
            <h4 style="text-align: center;
              color: #00000096;
              font-family: 'Poppins';
              font-weight: bold;">Contact Us</h4>

        </ion-col>
    </ion-row>
    <ion-row>
        <h6>GET IN TOUCH WITH US</h6>

    </ion-row>
    <hr>

    <ion-row>
        <ion-col size="12">
            <input type="text" class="form-control" placeholder="Name">
        </ion-col>
        <ion-col size="12">
            <input type="text" class="form-control" placeholder="Email Id">

        </ion-col>
        <ion-col size="12">
            <input type="text" class="form-control" placeholder="Subject">

        </ion-col>
        <ion-col size="12">
            <textarea class="form-control" id="" cols="30" rows="10" placeholder="Message"></textarea>
        </ion-col>
        <button class="viewmore">Contact</button>
    </ion-row>
</ion-content>