<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <button routerLink="/navigaiondrawer">s</button> -->
            <!-- <IonMenuButton> </IonMenuButton> -->
            <!-- <ion-menu-button auto-hide="false"></ion-menu-button> -->

            <!-- <ion-icon name="arrow-back-sharp"></ion-icon> -->
            <ion-menu-button auto-hide="false" style="    color: #028490;"></ion-menu-button>

        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button auto-hide="false" style="    color: #028490;"></ion-menu-button>
        </ion-buttons>

        <ion-title>NSPOT</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row style="    color: #0000007d;
  background: #f4f4f4;
  ">
        <ion-col size="12">
            <h4 style="text-align: center;">Apptitude Test</h4>

        </ion-col>
    </ion-row>
    <ion-row>
        <!-- <ion-col>
            <button class="addnew" routerLink="/add-addmission-officerlist">Add New</button>
        </ion-col> -->

    </ion-row>

    <ion-row>
        <ion-col size="12" *ngFor="let s of apptutestestlist">
            <ion-card>
                <p>Test Name : {{s.title}}</p>

                <!-- <ion-toggle color="primary"></ion-toggle>
            <ion-toggle ion-toggle-text="online;offline" ng-model="customText" toggle-class="toggle-my-theme">
                Custom text: <b>{{ customText || false }}</b>
            </ion-toggle> -->
                <button class="btn btn-primary" (click)="view(s)">
          <ion-icon name="create-outline"></ion-icon>
          View Questions
        </button>
            </ion-card>
        </ion-col>
        <!-- <ion-col size="12">
        <ion-card>
            <p>Course Name</p>
        </ion-card>
    </ion-col> -->
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <ion-card>
                <p>Add New Apptitude Test</p>
                <hr>
                <ion-item>
                    <ion-label position="floating">Test Name</ion-label>
                    <ion-input [(ngModel)]="testName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Test Duration</ion-label>
                    <ion-input [(ngModel)]="duration"> </ion-input>
                </ion-item>
                <button class="btn btn-primary" (click)="submit()">
                  <!-- <ion-icon name="plus-outline"></ion-icon> -->
                  Add 
                </button>
            </ion-card>
        </ion-col>


    </ion-row>
</ion-content>