<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="pulse"></ion-icon>
            <ion-label>Live Admission Desk</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">

            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>


<!-- 
<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="primary" style=" --ion-color-base: #028490 !important;
          padding-top: 47px;
    padding-bottom: 47px;">
           
            <img src="./assets/img/NSpot_Logo Png-03.svg" alt="">
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-icon name="home-sharp"></ion-icon>
                <p>Home</p>
            </ion-item>
            <ion-item>
                <ion-icon name="pulse-sharp"></ion-icon>
                <p>Live Addmission Desk</p>
            </ion-item>
            <ion-item>
                <ion-icon name="person-circle-sharp"></ion-icon>
                <p>Profile</p>
            </ion-item>
            <ion-item>
                <ion-icon name="mail-open-sharp"></ion-icon>
                <p>Contact Us</p>
            </ion-item>
            <ion-item>
                <ion-icon name="arrow-up-circle-sharp"></ion-icon>
                <p>Upgrade</p>
            </ion-item>
            <ion-item>
                <ion-icon name="pricetag-sharp"></ion-icon>
                <p>Payment History</p>
            </ion-item>
            <ion-item>
                <ion-icon name="power-sharp"></ion-icon>
                <p>Logout</p>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu> -->
<!-- <ion-router-outlet id="main"></ion-router-outlet> -->