<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <button routerLink="/navigaiondrawer">s</button> -->
            <!-- <IonMenuButton> </IonMenuButton> -->
            <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button auto-hide="false" style="    color: #028490;"></ion-menu-button>
        </ion-buttons>

        <ion-title>NSPOT</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <ion-row class="instiutenamerow"> -->
    <!-- <ion-col>

            <p>Welcome Institue !</p>
        </ion-col> -->

    <!-- </ion-row> -->
    <ion-row class="instiutenamerow">
        <ion-col size="6">
            <ion-card routerLink="/verify-student-applications">

                <img src="./assets/img/user(1) 1.png" alt="">

                <h5>Verify Applications</h5>

            </ion-card>
            <!-- <img src="./assets/img/icons8-checked-user-male-96.png" alt=""> -->

        </ion-col>
        <ion-col size="6">
            <ion-card routerLink="/addmission-register-list">
                <img src="./assets/img/shortlist 1.png" alt="">

                <h5>Addmission Register List</h5>

            </ion-card>
            <!-- <img src="./assets/img/icons8-add-user-male-100.png" alt=""> -->

        </ion-col>
        <ion-col size="6">
            <ion-card routerLink="/addmission-officerlist">
                <img src="./assets/img/clipboard 1.png" alt="">

                <h5>Addmission Officer List</h5>


            </ion-card>
            <!-- <img src="./assets/img/icons8-fat-cop-100.png" alt=""> -->

        </ion-col>
        <ion-col size="6">
            <ion-card routerLink="/apptitude-test">
                <img src="./assets/img/clipboard 1.png" alt="">

                <h5>Apptitute Test Manage</h5>


            </ion-card>
            <!-- <img src="./assets/img/icons8-fat-cop-100.png" alt=""> -->

        </ion-col>
        <ion-col size="6">
            <ion-card routerLink="/customize-applications">
                <img src="./assets/img/feature 1.png" alt="">

                <h5> Customise Application </h5>


            </ion-card>
            <!-- <img src="./assets/img/icons8-google-forms-96.png" alt=""> -->

        </ion-col>

        <ion-col size="6">
            <ion-card routerLink="/post-course">
                <img src="./assets/img/add 1.png" alt="">

                <h5> Post a course </h5>


            </ion-card>
            <!-- <img src="./assets/img/icons8-course-assign-96.png" alt=""> -->

        </ion-col>
        <ion-col size="6">
            <ion-card routerLink="/manage-course">
                <img src="./assets/img/online-course 1.png" alt="">

                <h5> Manage course </h5>


            </ion-card>
            <!-- <img src="./assets/img/icons8-request-service-96.png" alt=""> -->

        </ion-col>
    </ion-row>
</ion-content>

<!-- 
<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="primary" style=" --ion-color-base: #028490 !important;
          padding-top: 47px;
    padding-bottom: 47px;">
        
            <img src="./assets/img/NSpot_Logo Png-03.svg" alt="">
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-icon name="home-sharp"></ion-icon>
                <p>Home</p>
            </ion-item>
            <ion-item>
                <ion-icon name="pulse-sharp"></ion-icon>
                <p>Live Addmission Desk</p>
            </ion-item>
            <ion-item>
                <ion-icon name="person-circle-sharp"></ion-icon>
                <p>Profile</p>
            </ion-item>
            <ion-item>
                <ion-icon name="mail-open-sharp"></ion-icon>
                <p>Contact Us</p>
            </ion-item>
            <ion-item>
                <ion-icon name="arrow-up-circle-sharp"></ion-icon>
                <p>Upgrade</p>
            </ion-item>
            <ion-item>
                <ion-icon name="pricetag-sharp"></ion-icon>
                <p>Payment History</p>
            </ion-item>
            <ion-item>
                <ion-icon name="power-sharp"></ion-icon>
                <p>Logout</p>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet> -->