<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- <button routerLink="/navigaiondrawer">s</button> -->
            <!-- <IonMenuButton> </IonMenuButton> -->
            <ion-menu-button auto-hide="false"></ion-menu-button>

        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button auto-hide="false" style="    color: #028490;"></ion-menu-button>
        </ion-buttons>

        <ion-title>NSPOT</ion-title>

    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-row style="    color: #0000007d;
    background: #f4f4f4;
    ">
        <ion-col size="12">
            <h4 style="text-align: center;">My Account</h4>

        </ion-col>
    </ion-row>

    <ion-row style="    color: #0000007d;
    background: #028490f5;
    ">
        <ion-col size="4">
            <img src="./assets/img/user.jpg" alt="">

        </ion-col>
        <ion-col size="8">
            <p style="margin-top: 22px;">{{instituteInfo.name}}</p>
            <p>{{instituteInfo.email}}</p>

        </ion-col>

    </ion-row>

    <ion-row>
        <ion-col size="12">
            <ion-card>
                INSTITUTION KYC INFO

                <ion-icon style="    float: right;" name="chevron-forward-sharp"></ion-icon>
            </ion-card>
            <ion-card routerLink="/bank-info">
                BANK INFO

                <ion-icon style="    float: right;" name="chevron-forward-sharp"></ion-icon>
            </ion-card>
            <ion-card>
                BOARD OF COUNCIL AWARDED

                <ion-icon style="    float: right;" name="chevron-forward-sharp"></ion-icon>
            </ion-card>
            <ion-card>
                DOWNLOADS

                <ion-icon style="    float: right;" name="chevron-forward-sharp"></ion-icon>
            </ion-card>

            <ion-card>
                GALLERY

                <ion-icon style="    float: right;" name="chevron-forward-sharp"></ion-icon>
            </ion-card>
            <ion-card>
                VIRTUAL TOUR

                <ion-icon style="    float: right;" name="chevron-forward-sharp"></ion-icon>
            </ion-card>
            <ion-card>
                HOSTEL & TRANSPORTATION INFOS

                <ion-icon style="    float: right;" name="chevron-forward-sharp"></ion-icon>
            </ion-card>
            <ion-card (click)="logout()">
                Logout
                <ion-icon style="    float: right;" name="power-sharp"></ion-icon>
            </ion-card>
        </ion-col>
    </ion-row>


</ion-content>

<!-- 
<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="primary" style=" --ion-color-base: #028490 !important;
          padding-top: 47px;
    padding-bottom: 47px;">
      
            <img src="./assets/img/NSpot_Logo Png-03.svg" alt="">
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-icon name="home-sharp"></ion-icon>
                <p style="color: black;">Home</p>
            </ion-item>
            <ion-item>
                <ion-icon name="pulse-sharp"></ion-icon>
                <p style="color: black;">Live Addmission Desk</p>
            </ion-item>
            <ion-item>
                <ion-icon name="person-circle-sharp"></ion-icon>
                <p style="color: black;">Profile</p>
            </ion-item>
            <ion-item>
                <ion-icon name="mail-open-sharp"></ion-icon>
                <p style="color: black;">Contact Us</p>
            </ion-item>
            <ion-item>
                <ion-icon name="arrow-up-circle-sharp"></ion-icon>
                <p style="color: black;">Upgrade</p>
            </ion-item>
            <ion-item>
                <ion-icon name="pricetag-sharp"></ion-icon>
                <p style="color: black;">Payment History</p>
            </ion-item>
            <ion-item>
                <ion-icon name="power-sharp"></ion-icon>
                <p style="color: black;">Logout</p>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet> -->