ion-toolbar {
    // --background: #0c2f6c !important;
    --background: #028490 !important;
    margin-bottom: -8px;
}

ion-card {
    // width: 143px;
    // height: 143px;
    font-family: 'Poppins';
    font-size: 15px;
    padding: 15px !important;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    background: #F8F8F8;
}

ion-title {
    text-align: center;
    font-weight: bold;
    color: white;
}

ion-menu-button {
    color: white;
}

.toolbar-background {
    --border-width: 0px !important;
    border: 0 !important;
}

.toolbar-container {
    --padding-top: 0px !important;
    --padding-left: 0px !important;
    --padding-right: 0px !important;
    --padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

.ToolbarVerde {
    --padding-top: 0px !important;
    --padding-left: 0px !important;
    --padding-right: 0px !important;
    --padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

img {
    margin: 0 auto;
    /* margin-top: 10px; */
    margin-top: 10px;
    width: 135px;
    display: block;
}

h5 {
    // text-transform: lowercase;
    font-size: 16px;
    text-align: center;
    font-family: 'Poppins';
}

.instiutenamerow {
    // padding: 15px;
    color: white;
    // background: #0c2f6c;
    padding: 10px;
}

p {
    font-family: 'Poppins';
    text-align: left;
    color: white;
    padding: 4px;
    margin-bottom: 8px;
}

svg {
    margin: 0 auto;
    display: block;
}