<ion-header>
    <ion-toolbar>
        <ion-title>NSPOT</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row style="    color: #0000007d;
  background: #f4f4f4;
  ">
        <ion-col size="12">
            <h4 style="text-align: center;">FEE INFO</h4>

        </ion-col>
    </ion-row>
    <ion-item>
        <ion-label>Fees Payment Tenure</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="postaCource.feepaymenttenure">
            <ion-select-option *ngFor="let s of feePayments" value="{{s.id}}">{{s.title}}</ion-select-option>

        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Total Course Fee (for selected Tenure)</ion-label>
        <ion-input [(ngModel)]="postaCource.courseFee"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Scholarship Name</ion-label>
        <ion-input [(ngModel)]="postaCource.Scholarship"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Scholarship Amount</ion-label>
        <ion-input [(ngModel)]="postaCource.ScholarshipAmount"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Valid Upto</ion-label>

        <ion-datetime [(ngModel)]="postaCource.ValidUpto" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>

    </ion-item>
    <ion-item>
        <ion-label>Bank Account</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="postaCource.bankAcoount">
            <ion-select-option *ngFor="let s of bankAcoountList" value="{{s.id}}">{{s.name}}</ion-select-option>

        </ion-select>
    </ion-item>
    <button class="ion-button" (click)="CalculateFee(postaCource.courseFee)">Calculate Fee</button>


    <ion-card>
        <ion-row>
            <ion-col size="6">
                <p>NSPOT SERVICE CHARGES</p>
            </ion-col>
            <ion-col size="6">
                <p>{{serviceCharge}}</p>

            </ion-col>
            <ion-col size="6">
                <p>BANK CHARGES</p>
            </ion-col>
            <ion-col size="6">
                <p>{{bankCharge}}</p>
            </ion-col>
            <ion-col size="6">
                <p>TAX</p>
            </ion-col>
            <ion-col size="6">
                <p>{{taxCharge}}</p>
            </ion-col>
            <ion-col size="6">
                <p>Total Fee</p>
            </ion-col>
            <ion-col size="6">
                <p>{{totalfee}}</p>
            </ion-col>
        </ion-row>
    </ion-card>

    <button class="ion-button" style="width: 80%;" (click)="submit()">Submit</button>

</ion-content>